#main {
    overflow: auto;
}

.bg-info-padding {
    padding: 10px;
}

.chat{
    height: 500px;
    overflow: auto;
}

.chat-message{
    margin: 0px 5px;
}

.chat-date{
    min-height: 100px;
    margin: 0px 5px;
}

#sendMessage{
    padding-bottom: 15px;
}

.well{
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 0px;
}

.form-control{
    border-radius: 0px;
}

.btn{
    border-radius: 0px;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

p {
    margin: 0 0 0px;
}

.alert {
    border-radius: 0px;
}

.login-form-padding{
    padding-top: 15px;
}